{% extends "base.html.twig" %}

{% block title %}Edit Profile
{% endblock %}

{% block body %}


	<div class="col-md-8  mx-auto">
		<a href="{{ APP_ROOT }}profile/show" class="btn btn-light">
			<i class="fa fa-backward"></i>
			Back
		</a>
		<div class="card  card-body bg-light mt-3">

			<h1>Edit Profile</h1>
			{% if user.errors is not empty %}
				<p>Errors:</p>
				<ul>
					{% for error in user.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			<form enctype="multipart/form-data" action="{{ APP_ROOT }}profile/update/{{ user.id }}" id="formProfile" method="post">
				<div class="form-group">
					<label for="inputName">Name</label>
					<input class="form-control" value="{{ user.name }}" id="inputName" name="name" placeholder="name" type="text" required>

				</div>
				<div class="form-group">

					<label for="inputEmail">Email address</label>
					<input class="form-control" value="{{ user.email }}" id="inputEmail" name="email" placeholder="email address" type="email" required>

				</div>
				<div class="form-group">

					<label for="inputPassword">Password</label>
					<div class="input-group">
						<input class="form-control" id="inputPassword" name="password" placeholder="password" type="password" aria-describedby="helpBlock" data-toggle="password">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fa fa-eye"></i>
							</span>
						</div>
					</div>


					<span id="helpBlock" class="form-text text-muted">Leave blank to keep current password</span>
				</div>

				<div class="form-group">
					<label for="formFile" class="form-label">
						Add an avatar
						<i>(max size: 100kb)</i>
					</label>

					<input name='avaImage' accept="image/*" class="form-control" type="file" id="formFile">
				</div>


				<button class="btn btn-dark" type="submit">Save</button>
			</form>
			<script>
				const userId = '{{ user.id }}';
			</script>
		</div>
	</div>

{% endblock %}
