{% extends "base.html.twig" %}

{% block title %}
	Posts
{% endblock %}

{% block body %}
	{% include "partials/_flash.html.twig" %}
	<div class="row">
		<div class="col">
			<h2 class="mb-3">Posts with
				<a href="{{APP_ROOT}}hashtags/show/{{hashtag}}">#{{hashtag}}</a>

			</h2>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 mb-3">

			{% if posts %}
				{% for post in posts %}
					<div class="card card-body">
						<h4 class="card-title">{{ post.title }}</h4>
						<div class="bg-light p-1 mb-3">
							Written by
							<strong>
								{{ post.author }}
							</strong>
							on
							{{ post.createdAt|date("d/m/y H:i") }}
						</div>
						{% autoescape false %}
							<p class="card-text">{{ post.body | u.truncate(250, '...') }}</p>
						{% endautoescape  %}
						<a href="{{ APP_ROOT }}posts/show/{{ post.id }}" class="btn btn-dark">More</a>
					</div>
				{% endfor %}
			{% else %}
				<h3 class="text-center mt-5">
					Nothing found...
				</h3>

			{% endif %}

		</div>

		<div class="col-lg-3 col-md-4 comment-wrapper">

			<h4 class="text-center">Last 5 comments</h4>
			{% if comments %}
				<ul id="commentListMain" class="comment-section media-list mt-4 bg-light">
					{% for comment in comments %}
						<li class="media">
							<a href="#" class="pull-left">
								<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle index-avatar inline-block-image">
							</a>
							<div class="media-body">
								<span class="text-muted pull-right">
									<small class="text-muted">{{ comment.createdAt | date("H:i") }}</small>
								</span>
								<strong class="comment-author text-dark">
									{{ comment.author  }}

								</strong>
								<p>
									{{ comment.body | u.truncate(15, '...') }}
								</p>
								<a href="{{APP_ROOT}}posts/show/{{ comment.postId }}">
									{{ comment.postTitle | u.truncate(17, '...') }}
								</a>
							</div>
						</li>

					{% endfor %}
				{% else %}
					No comments yet...
				</ul>
			{% endif %}
		</div>
	</div>

{% endblock %}
