{% extends "base.html.twig" %}

{% block title %}
	Posts
{% endblock %}

{% block body %}
	{% include "partials/_flash.html.twig" %}
	<div class="row">
		{% if currentUser %}
			<div class="col-md-9 mb-2">
				<a href="{{ appRoot }}/posts/new" class="btn btn-primary pull-right">
					<i class="fa fa-pencil"></i>
					Add Post
				</a>
			</div>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-md-9">
			{% for post in posts %}
				<div class="card card-body">
					<h4 class="card-title">{{ post.title }}</h4>
					<div class="bg-light p-1 mb-3">
						Written by
						<strong>
							{{ post.author }}
						</strong>

						on
						{{ post.createdAt|date("d/m/y H:i") }}

					</div>
					<p class="card-text">{{ post.body | u.truncate(250, '...') }}</p>

					<a href="{{ appRoot }}/posts/show/{{ post.id }}" class="btn btn-dark">More</a>
				</div>
			{% endfor %}
		</div>

		<div class="col-md-3 comment-wrapper">

			<h4 class="text-center">Last 5 comments</h4>
			{% if comments %}
				<ul id="commentListMain" class="media-list mt-4">
					{% for comment in comments %}
						<li class="media">
							<a href="#" class="pull-left">
								<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle index-avatar inline-block-image">

							</a>
							<div class="media-body">
								<span class="text-muted pull-right">
									<small class="text-muted">{{ comment.createdAt | date("H:i") }}</small>
								</span>
								<strong class="comment-author text-dark">
									{{ comment.author  }}

								</strong>
								<p>
									{{ comment.body | u.truncate(20, '...') }}
								</p>
								<a href="posts/show/{{ comment.postId }}">
									{{ comment.postTitle | u.truncate(17, '...') }}

								</a>
							</div>
						</li>
					{% endfor %}
				{% else %}
					No comments yet...
				</ul>
			{% endif %}

		</div>
	</div>

{% endblock %}
