{% extends "base.html.twig" %}

{% block title %}
	Posts
{% endblock %}

{% block body %}
	{% include "partials/_flash.html.twig" %}
	<div class="row mb-3">
		<div class="col-md-6">
			<h1>Posts</h1>
		</div>
		{% if currentUser %}
			<div class="col-md-6">
				<a href="{{ appRoot }}/posts/new" class="btn btn-primary pull-right">
					<i class="fa fa-pencil"></i>
					Add Post

				</a>
			</div>
		{% endif %}
	</div>

	{% for post in posts %}
		<div class="card card-body">
			<h4 class="card-title">{{ post.title }}</h4>
			<div class="bg-light p-1 mb-3">
				Written by
				<strong>
					{{ post.author }}
				</strong>

				on
				{{ post.createdAt|date("d/m/y H:i") }}

			</div>
			<p class="card-text">{{ post.body }}</p>
			<a href="{{ appRoot }}/posts/show/{{ post.id }}" class="btn btn-dark">More</a>
		</div>
	{% endfor %}

{% endblock %}
