{% extends "base.html.twig" %}

{% block title %}Log in
{% endblock %}
{% block body %}
	<a href="{{ APP_ROOT }}posts" class="btn btn-light">
		<i class="fa fa-backward">
			Back</i>
	</a>

	<div class="card card-body bg-light mt-3">
		{% include "partials/_flash.html.twig" %}
		<div class="text-center">
			<h2>
				Add Post
			</h2>
			<p>Create a post with this form</p>
		</div>
		<form id="formPost" action="{{ APP_ROOT }}posts/create" method="post">
			{% if post.errors is not empty %}
				<p>Errors:</p>
				<ul>
					{% for error in post.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			<div class="form-group">
				<label for="inputTitle">Title:</label>
				<input value="{{ post.title }}" type="text" name="title" id="inputTitle" class="form-control form-control-lg" autofocus>

			</div>
			<div class="form-group">
				<label for="inputBody">Post:</label>
				<div class="input-group">
					<textarea id="body" name="body" type="text" class="form-control form-control-lg">{{ post.body }}</textarea>

				</div>
			</div>

			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
{% endblock %}
