{% extends "base.html.twig" %}
{% block title %}
	Post
{% endblock %}

{% block body %}
	{% include "partials/_flash.html.twig" %}

	<a href="{{ APP_ROOT }}" class="btn btn-light">
		<i class="fa fa-backward"></i>
		Back
	</a>
	<h1>{{ post.title  }}</h1>


	<div class="bg-secondary text-white p-2 mb-3">
		Written by
		<strong>
			{{ post.author }}
		</strong>

		on
		{{ post.created_at|date("d/m/Y H:i") }}
	</div>
	{% if post.cover_link %}
		<div class="mb-5">
			<img data-fancybox src="{{post.cover_link}}" style="max-width:325px" class="img-thumbnail mx-auto d-block" alt="post cover">
		</div>
	{% endif %}


	{% autoescape false %}
		<p>{{ post.body | raw|nl2br}}</p>
	{% endautoescape %}


	{% if post.user_id == currentUser.id %}
		<hr>
		<a href="{{ APP_ROOT }}posts/edit/{{ post.id }}" class="btn btn-dark">Edit</a>
		<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#exampleModal">
			Delete
		</button>


	{% endif %}

	<div class="row bootstrap snippets bootdeys mt-3">

		<div class="col-md-10 col-sm-12 mx-auto">
			<div class="comment-wrapper">
				<div class="panel panel-info">

					<div class="panel-body mt-3">
						<form id="formComment" method="post" action="{{ APP_ROOT }}comments/create">
							{% if not currentUser %}
								<div class="pull-right mb-3">
									<label for="captcha">Please insert captcha</label>

									<input id="captcha" class="form-control" name="captcha" type="text">
									<div class="invalid-feedback" {{ comment.captchaError ? "style=\"display:block\"" : '' }}>
										Captcha is invalid, please try again
									</div>

									<div class="mb-3"></div>

									<img class="pull-right" src="{{ captcha }}" alt="captcha">
								</div>
							{% endif %}

							<textarea name='commentBody' class="form-control" placeholder="write a comment..." rows="3">{{comment.commentBody}}</textarea>

							<input type="hidden" value="{{ post.id }}" name="postId"><br><button class="btn btn-dark pull-right">Post</button>
						</form>
						<div class="clearfix"></div>
						<hr>
						{% if comments %}
							<ul class="media-list">
								{% for comment in comments %}
									<li class="media p-1">
										<a href="#" class="pull-left"><img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle"></a>
										<div class="media-body">
											<span class="text-muted pull-right">
												<small class="text-muted">{{ comment.createdAt | date("d-m-y H:i") }}</small>
											</span>
											<strong class="text-dark">{{ comment.author ? comment.author : 'anonym'  }}
											</strong>

											<p class="pt-2">
												{{ comment.body }}</p>
										</div>
									</li>
								{% endfor %}
							{% else %}
								No comments yet...
							</ul>
						{% endif %}
					</div>
					<script src="{{ APP_ROOT }}js/script.js"></script>

					<!-- Button trigger modal -->


					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Do you really want to delete?
								</div>
								<form class="modal-footer" action="{{ APP_ROOT }}posts/destroy/{{ post.id }}" method="post">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>

							</div>
						</div>
					</div>
				{% endblock %}
