{% for post in posts %}
	<div class="card card-body mb-3">
		<h4 class="card-title">{{ post.title }}</h4>
		<div class="bg-light p-1 mb-3">
			Written by
			<a href="{{APP_ROOT}}profile/{{ post.authorId }}">
				<strong>
					{{ post.author }}
				</strong>
			</a>
			on
			{{ post.createdAt|date("d/m/y H:i") }}
		</div>
		{% if post.url %}
			<div class="row mb-3">
				<div class="col-md-3 mb-2">
					<img src="{{post.url}}" style="max-width:150px" class="img-thumbnail mx-auto d-block" alt="post cover">
				</div>
				<div class="col-md-9">
					{% autoescape false %}
						<p class="card-text">{{ post.body | u.truncate(150, '...') }}</p>
					{% endautoescape  %}
				</div>
			</div>
		{% else %}
			{% autoescape false %}
				<p class="card-text">{{ post.body | u.truncate(250, '...') }}</p>
			{% endautoescape  %}
		{% endif %}


		<a href="{{ APP_ROOT }}posts/show/{{ post.id }}" class="btn btn-dark">More</a>
	</div>
{% endfor %}
